@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background: #FFF;
    font-family: "Noto Sans JP", sans-serif;;
}

.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 120px;
}

.logo-vec {
    position: relative;
}

.logo-vec img {
    width: 242px;
    height: 80px;
}

.logo-vec .logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid #E2E2E2;
    box-shadow: 0px 0px 64px 0px rgba(253, 111, 0, 1);
    background-image: url('../images/logo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo .logo-name {
    position: absolute;
    top: 60px;
    right: -98px;
    height: 10px;
}

.logo .logo-ui {
    position: absolute;
    top: 75px;
    right: -98px;
    height: 7px;
}

header nav {
    font-size: 21px;
    font-weight: 400;
    margin-left: auto;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

nav li {
    list-style-type: none;
    padding: 10px 14px;
}

nav li a {
    color: #000;
}

.info-text .cv, 
header .cv {
    padding: 17px;
    background: #FD6F00;
    margin-left: 12px;
    border-radius: 5px;
    color: #FFF;
}

header a {
    font-size: 21px;
    font-weight: 400;
    /* color: #FFF; */
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.info-content {
    /* position: relative; */
    width: 618px;
    height: 618px;
    border-radius: 50%;
    padding: 6px;
    /* border: 6px solid; */
    background: linear-gradient(182.68deg, rgba(255, 255, 255, 0) -0.48%, #FF8233 78.41%);
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.47) inset;
    /* border-radius: 50%;
    background-image: url(../images/info.png);
    background-size: cover;
    background-repeat: no-repeat; */
}

/* .info-content::after {
    content: "";
    width: 618px;
    height: 618px;
    position: absolute;
    top: 0;
    right: 0;
    
} */