@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: "Heebo", sans-serif;
    color: #21243D;
}

/* --- Header --- */
.header {
    position: relative;
    width: 100%;
    padding: 20px 18px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.nav {
    position: absolute;
    top: 70px;
    right: 0px;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .15);
    overflow: hidden;
    z-index: 100;
    display: none;
}

.nav a {
    padding: 15px 30px;
    color: #21243D;
}

.nav .actived,
.nav a:hover {
    color: #FF6464;
}

.nav.active {
    display: flex;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.menu-icon span {
    position: relative;
    display: block;
    width: 30px;
    border: 1.6px solid #21243D;
}

/* --- Header Content --- */
.header-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 0 18px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro p {
    margin: 21px 0;
}

.intro .btn {
    background-color: #FF6464;
    width: 208px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 39px;
}

.intro .btn:hover {
    opacity: 0.8;
}

.profile-img {
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 33px 0;
    padding-top: 10px;
    background-image: url("../images/profile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-img::before {
    content: "";
    position: absolute;
    left: -5px;
    top: 8px;
    height: 180px;
    width: 180px;
    background: #EDF7FA;
    border-radius: 50%;
    z-index: -1;
}

/* --- Post --- */
.posts-main h3,
.works-main h3 {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    line-height: 60px;
}

.posts-main .view-all {
    display: none;
}

.posts-main,
.works-main {
    background-color: #EDF7FA;
    padding: 0 11px;
    padding-bottom: 38px;
}

.posts-main .posts,
.works-main .works {
    display: grid;
    grid-template-columns: 1fr;
    gap: 17px;
}

.posts .post {
    background-color: #fff;
    border-radius: 8px;
    padding: 12px 19px;
}

.post .post-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

.post-meta {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    line-height: 24px;
    color: #8695A4;
}

.post-meta span {
    color: #21243D;
}

.post-meta span:first-child::after {
    content: "|";
    margin-left: 23px;
    color: #000;
}

/* --- Works --- */
.works-main {
    padding: 0 18px;
    background-color: #fff;
}

.works .work {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #E0E0E0;
}

.work img {
    width: 100%;
    border-radius: 5px;
}

.work h2 {
    margin-bottom: 22px;
}

.work p {
    color: #8695A4;
}

.work span {
    background-color: #142850;
    padding: 2px 15px;
    border-radius: 15px;
    color: #fff;
    font-weight: 900;
    margin-right: 20px;
}

.work .work-text {
    padding: 20px 0;
    color: #21243D;
}

/* --- Footer --- */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 40px 0;
    margin-top: 50px;
}

.footer .socials {
    display: flex;
    gap: 30px;
    font-size: 30px
}

.footer p {
    font-size: 14px;
    font-weight: 400;
}

/* --- OTHER PAGE --- */
.blog-main {
    margin: 0 19px;
}

.blog-main .title {
    margin: 50px 0;
    font-size: 30px;
    font-weight: 900;
}

.blog-main .post {
    margin-bottom: 30px;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 0;
    padding: 0 0 20px 0;
}

.contact-main .title,
.works-main .title {
    font-size: 30px;
    font-weight: 700;
    margin: 40px 0;
    color: #21243D;
}

.contact-main {
    padding: 0 18px;
}

.input-group {
    margin-bottom: 25px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    transition: .3s;
    resize: none;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #FF6464;
    box-shadow: 0 0 10px rgba(79, 70, 229, .2);
}

.contact-form button {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 12px;
    background: #FF6464;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}

.contact-form button:hover {
    background: #FF6464;
}