@font-face {
  font-family: myFont;
  src: url(../font/YakuHanMP-ExtraLight.woff2);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: "myFont", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    min-height: 100vh;
    margin: auto;
}

.container:after, .socials:after {
    content: "";
    display: block;
    clear: both;
}

/* 1. --- Header Style ----*/
.sidebar {
    width: 20%;
    padding: 56px 48px;
    display: inline;
    float: left;
    color: #fff;
    background-color: #141313;
    min-height: 100vh;
}

.sidebar .logo {
    font-family: "IBM Plex", Serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 100px;
}

.sidebar .menu {
    margin-bottom: 218px;
}

.sidebar .menu a {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    display: block;
    width: fit-content;
    padding-right: 8px;
    margin-bottom: 17px;
    position: relative;
    z-index: 2;
}

.menu .active {
    font-weight: bold;
}

.menu a.active {
    position: relative;
    display: inline-block;
    color: white;
    z-index: 2;
}

/* 1.1. Gradient Background */
.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 5px;
    transform: translateY(-50%);
    background: linear-gradient(
        90deg, 
        #B86ADF 0%,
        #FF6C63 50%, 
        #FFB147 100%        
    );
    z-index: -1;
    transition: width 0.3s ease;
}

/* 1.2. Active Menu */
.menu a.active::after {
    width: 100%;
}

/* 1.3. Hover */
.menu a:hover::after,
.menu a.active::after {
    width: 100%;
}

/* 1.4. Socials */
.socials {
    width: fit-content;
}

.social {
    position: relative;
    margin-bottom: 5px;
}

.social .bg {
    width: 40px;
    height: 40px;
}

.social .google, 
.social .icon,
.insta .i1,
.insta .i2,
.insta .i3 {
    position: absolute;
}

.social .google {
    top: 13px;
    left: 10px;
}

.social .icon {
    top: 11px;
    left: 11px;
}

.insta .i1 {
    top: 15px;
    left: 16px;
}

.insta .i2 {
    top: 10px;
    left: 11px;
}

.insta .i3 {
    top: 13px;
    left: 25px;
}

/* 1.4. Copyrights */
.sidebar .copyrights {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 30px;
}

/* 2. --- Main Content Style ----*/
.main-content {
    width: 80%;
    position: relative;
    background-color: aqua;
    float: left;
    min-height: 100vh;
}

.content-inner {
    position: relative;
    height: 100vh;
}

.content-inner .content-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-info .info-name {
    width: 598px;
    font-weight: 400;
    font-size: 102px;
    line-height: 90px;
    text-transform: uppercase;
}

.content-info p span {
    font-weight: 700;
}

.content-info p {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
}

.content-info {
    width: 597px;
    padding-left: 52px;
}

.content-info .btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 8px;
    background-color: #141313;
    color: #fff;
    width: 258px;
    margin-top: 18px;
}