body {
    background-color: #EFF3BF;
}

main {
    width: 1440px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.container {
    width: 510px;
    height: 755px;
    background-color: #fff;
    margin: auto;
    border-radius: 66px;
    position: absolute;
    top: 10%;
    left: 33%;
}

.container img#profile-image {
    position: absolute;
    top: 20px;
    left: 36%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    z-index: 1000;
}

.container img.rec1 {
    position: absolute;
    top: 0;
}

.container img.vec1 {
    position: absolute;
    top: 40px;
    z-index: 31;
}
.container img.vec2 {
    position: absolute;
    top: 110px;
    z-index: 2;
}

.container img.vec3 {
    position: absolute;
    top: 110px;
    z-index: 21;
}

.container img.vec5 {
    position: absolute;
    top: 110px;
    z-index: 5;
}

.container img.vec6 {
    position: absolute;
    top: 110px;
    z-index: 10;
}


.name {
    position: relative;
    text-align: center;
    top: 20%;
}

.name .name2 {
    font-size: 38px;
    color: #000;
    margin: 0;
}

.name .name3 {
    font-size: 16px;
    color: hsla(0, 0, 0, 0.3);
    margin: 0;
}

.icon {
    position: absolute;
    top: 70%;
    left: 21%;
}

.icon img {
    position: relative;
    margin-right: 30px;
}

.text {
    margin-top: 60px;
    position: absolute;
    font-size: 18px;
    top: 40%;
}

.text p {
    margin-top: 40px;
    position: relative;
    padding: 0 60px;
    text-align: center;
}

.button {
    position: absolute;
    top: 90%;
    left: 17%;
    font-size: 20px;
}

.button .follow {
    padding: 16px 60px;
    border-radius: 40px;
    color: #fff;
    background-color: #DF3F8C;
    border: 1px solid #fff;
}

.button .message {
    padding: 16px 60px;
    margin-left: 20px;
    border-radius: 40px;
    border: 1px solid #838383;
    color: #838383;
}