@media (min-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        background: lightblue;
    }
}

@media (min-width: 1024px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1536px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}